<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:each="pedido : ${pedidos}">
        <div th:text="${pedido.getNomeProduto()}">Nome do produto</div>
        <div>Valor: <span th:text="${pedido.getValorNegociado()}">200,99</span></div>
        <div>Data da entrega: <span th:text="${pedido.getDataEntrega()}">10/02/2020</span></div>

        <div>Produto</div>
        <div> <input th:value="${pedido.getUrlProduto()}" value="url do produto"></div>

        <div>Descrição</div>
        <div>
            <textarea th:text="${pedido.getDescricao()}">descrição do pedido</textarea>
        </div>

        <div>
            <img th:src="${pedido.getUrlImagem()}"/>
        </div>

    </div>

</body>
</html>