<html>
<head th:replace="~{base :: head('Meus Pedidos')}"></head>
<body>

	<div th:replace="~{base :: logo}"></div>

	<div class="container">
		
		<div th:replace="~{base :: titulo('Meus Pedidos')}"></div>

		<nav
			class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
			<div class="navbar-nav">
				<a th:classappend="${status} == null ? 'active'" class="nav-link" href="/home">Todos</a> 
				<a th:classappend="${status} == 'aguardando' ? 'active'" class="nav-link" href="/home/aguardando">Aguardando</a> 
				<a th:classappend="${status} == 'aprovado' ? 'active'" class="nav-link" href="/home/aprovado">Aprovado</a> 
				<a th:classappend="${status} == 'entregue' ? 'active'" class="nav-link" href="/home/entregue">Entregue</a>
			</div>
			<a href="/pedido/formulario">
				<button class="btn btn-outline-secondary">Novo</button>
			</a>
		</nav>

		<div class="card mb-3" th:each="pedido : ${pedidos}">
			
			<th:block th:switch="${pedido.status.name()}">
				<div th:case="'AGUARDANDO'" class="card-header alert-warning" th:text="${pedido.getNomeProduto()}"> Nome do produto </div>
				<div th:case="'APROVADO'" class="card-header alert-success" th:text="${pedido.getNomeProduto()}"> Nome do produto </div>
				<div th:case="'ENTREGUE'" class="card-header alert-dark" th:text="${pedido.getNomeProduto()}"> Nome do produto </div>
			</th:block>
			
			<div class="card-body">
			
				<div class="row">
					
					<div class="col-12 col-sm-8">

						<div class="row mb-3">
							<div class="col-12 col-md-5">
								Valor: <span th:text="${pedido.getValorNegociado()}">200,99</span>
							</div>
							<div class="col">
								Data da entrega: <span th:text="${pedido.getDataEntrega()}">10/02/2020</span>
							</div>
						</div>


						<div class="form-label mb-1">Produto</div>
						<div>
							<input class="form-control mb-3" th:value="${pedido.getUrlProduto()}"
								value="url do produto">
						</div>


						<div class="form-label mb-1">Descrição</div>
						<div>
							<textarea class="form-control mb-3" th:text="${pedido.getDescricao()}">descrição do pedido</textarea>
						</div>

					</div>
					
					<div class="col">
						<div>
							<img class="img-thumbnail" th:src="${pedido.getUrlImagem()}" />
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>